@import "../../../style/index.scss";

.search_item {
  .input {
    width: 220px;
    height: 40px;
    background-color: var(--theme-searchbar-bg-color);
    border: none;
    outline: none;
    border-radius: 10px;

    &::placeholder {
      padding-left: 10px;
    }
    @media (max-width: 576px) {
      display: none;
    }

  }
}
