@import "../../../style/index.scss";

.search_item {
  @include flex;
  align-items: center;
  gap: 5px;
  .input {
    width: 220px;
    height: 40px;
    background-color: var(--theme-searchbar-bg-color);
    border: none;
    outline: none;
    border-radius: 10px;

    &::placeholder {
      padding-left: 10px;
    }
  }
  .search_icon {
    font-size: 25px;
    padding-bottom: 4px;
  }
  @media (max-width: 576px) {
    display: none;
  }
}
