:root {
  --theme-header-background-white-color: #fff;
  --theme-searchbar-bg-color: #f5f5f5;
  --theme-header-font-color: #000;
  --theme-header-background-color: #828282;
  --theme-banner-background-color: #000;
  --theme-icon-color: #fff;
  --theme-font-color: #fff;
  --theme-box-color: #db4444;
  --theme-font-color-red: #db4444;
  --theme-star-icon-color: #ffad33;
  --theme-button-color: #ec4646;
  --theme-button-black-color: #000;
  --theme-button-white-color: #fff;
  --theme-font-color-pista: #00ff66;
  --theme-font-color-grey: #7d8184;
  --theme-button-color-transparent: transparent;
  --theme-border-color: #7d8184;
}
