@import "../../../style/index.scss";

.cart_items {
  h2 {
    @include font-25;
  }
  .cart_item {
    img {
      width: 200px;
    }
    p {
      @include font-16;
    }
    span {
      display: block;
      @include font-16;
    }
    .add_To_icon {
      font-size: 20px;
    }
  }
}
