@import "../../../style/index.scss";

.header_menu {
  .menu_items {
    @include flex;
    a {
      @include font-16;
      color: var(--theme-header-font-color);
      text-decoration: none;
    }
    @media (max-width: 768px) {
      display: none;
    }
    @media (max-width: 576px) {
      display: none;
    }
  }
}
